out/

# ide files
.idea/

# mac files
.DS_Store
/node_modules

# generated
xdm-docs.zip
/xdm-docs.zip
stabilization_candidates_*.md

/package-lock.json
/npm-debug.log
/docs/reference
/bin/xed-validation/xed
